:root {
  --text-main-dark: #212121;
  --main-light: #FFFFFF;
  --text-sub: #757575;
  --text-accent: #2196F3;
  --text-accent-transparent: rgba(255, 255, 255, 0.6);
  --background-dark: #2F303A;
  --background-light: #F5F4FA;
  --header-border: #ECECEC;
  --project-border: #EEEEEE;
  --card-set-gap: 30px;
  --icon: #AFB1B8;
  --footer-social-links: rgba(255, 255, 255, 0.1);
  --time-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --signup-form-button: #188CE8;
} 

*{margin: 0; padding: 0; box-sizing: border-box}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-main-dark);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-left: 0px;
}

address p {
  margin: 20px 0 0 0;
}

textarea {
  resize: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  border-width: 1px;
}

.container :focus{
  outline: none;
}

/*********** HEADER ************/

.head-section {
  position: sticky;
  top: -1px;
  z-index: 2; 
  background-color: var(--main-light); 
  color: var(--text-main-dark);  
  display: flex;
  padding: 0;
  border: 1px solid var(--header-border);
}

.header-section, 
.header-nav-list, 
.header-menu-list, 
.header-contacts-list {
  display: flex;
  list-style-type: none;
  align-items: center;
}


.container.header-section {
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  outline: none;
  color: var(--text-main-dark);
  margin-right: 93px;
}

.logo-accent {
  color: var(--text-accent);
}

.link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  outline: none; 
  color: var(--text-main-dark);
  transition: color var(--time-duration) var(--timing-function);
}

.link:visited {
  color: var(--text-main-dark);
}

.link:hover {
  color: var(--text-accent);
  transition: color var(--time-duration) var(--timing-function);
}

.link:focus {
  color: var(--text-accent);
  transition: color var(--time-duration) var(--timing-function);
}

.link.current {
  position: relative;
  color: var(--text-accent);
}


.header-menu-item {
  position: relative;
}

.header-menu-item .link.current::after {
  position: absolute; 
  left: 0;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--text-accent);
  border-radius: 2px;
} 

.header-menu-list :not(:last-child) {
  margin-right: 50px;
}

.first-link {
  margin-left: 305px;
  margin-right: 30px;
}

.head-contacts.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-contacts-icon {
  margin-right: 10px;
}

.head-contacts{
  color: var(--text-sub);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  outline: none;
  transition: color var(--time-duration) var(--timing-function);
}

.head-contacts.link {
  white-space: nowrap;
}

.head-contacts-icon {
  fill: currentColor;
}

.head-contacts:visited {
  color: var(--text-sub);
}

.head-contacts:hover {
  color: var(--text-accent);
  transition: color var(--time-duration) var(--timing-function);
}

.head-contacts:focus {
  color: var(--text-accent);
  transition: color var(--time-duration) var(--timing-function);
}  


/*********** FOOTER ************/

.footer-section {
  background-color: var(--background-dark);
  color: var(--main-light);
  line-height: 24px;
  letter-spacing: 0.03em;
  display: flex;
  padding: 60px 0;
}

.footer-logo {
  color: var(--main-light);
}

.container.footer {
  align-items: center;
}

.footer-address-block {
  margin-right: 70px;
}

.container.footer ul {
  display: flex;
}

.footer-contacts-list {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer-contacts-list li {
  margin-top: 9px;
}

.footer-contacts {
  color: var(--text-accent-transparent);
  outline: none;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color var(--time-duration) var(--timing-function);
}

.footer-contacts:visited {
  color: var(--text-accent-transparent);
}

.footer-contacts:hover {
  color: var(--text-accent);
  transition: color var(--time-duration) var(--timing-function);
}

.footer-contacts:focus {
  color: var(--text-accent);
  transition: color var(--time-duration) var(--timing-function);
}


.footer-social-links-block {
  margin-right: 93px;
}


.footer-topic {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 12px 0 20px 0;
}

.footer-social-link-li {
  fill: var(--main-light);
  background-color: var(--footer-social-links);
  border-radius: 50%;
  outline: none;
  /* transition: background-color var(--time-duration) var(--timing-function); */     
}

.footer-social-link-li :visited {
  fill: var(--main-light);
  background-color: var(--footer-social-links);
}

.footer-social-link-li :hover, 
.footer-social-link-li :focus{
  background-color: var(--text-accent);
  border-radius: 50%;
  outline: none;
  transition: background-color var(--time-duration) var(--timing-function);
}

.footer-social-link-li .social-link-a :visited {
  fill: var(--main-light);
}

.footer-signup-div {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.footer-signup-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--text-accent-transparent);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  background-color: var(--background-dark);
  margin-right: 12px;
}

.footer-signup-button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: currentColor;
  background-color: var(--text-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: currentColor;
}

.footer-signup-button svg {
  margin-left: 10px;
  fill: currentColor; 

}

/********************* MAIN (index.html)*************************/

/********** MAIN - TITLE ***********/

.title-section {
  background-color: var(--background-dark);
  text-align: center;
  padding: 200px 0;

  /*************Overlay HERO**********************/
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  color: var(--main-light);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.title-button {
  background-color: var(--text-accent);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--main-light);
  /* outline-color: var(--text-accent); */
  padding: 10px 32px;
  margin-top: 30px;
  border: 1px solid var(--text-accent);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/************ MAIN - FEATURES ************/

.decision-section {
  padding: 94px 0;
}

.decision-list {
  display: flex;
  align-items: center;
}

.decision-list-item {
  margin-right: 30px;
}

.decision-section-card {
  margin: 0;
}

.decision-card-content {
  margin: 0;
}

.decision-icon-div{
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  background-color: var(--background-light);
  fill: text-main-dark;
}

.decision-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.decision-item-text {
  display: block;
  width: 270px;
  color: var(--text-sub);
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 0;
  text-transform: none;
}

/************ MAIN - SIBTITLES ***********/

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center; 
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}

.we-do-section {
  padding-bottom: 94px;
}

.we-do-ul {
  display: flex;
}

.we-do-ul :last-child {
  margin-right: 0;
} 

.we-do-ul-li {
  margin-right: 30px;
}

.we-do-thumb {
  position: relative;
  width: 370px; 
}

.we-do-thumb-paragraph {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 27px 0; 
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light);
  background: rgba(47, 48, 58, 0.8);
}

/************* MAIN - OUR TEAM ************/

.team-section {
  background-color: var(--background-light);
  padding: 94px 0;
}

.team-section-ul {
  display: flex;
  align-items: center;
}

.team-section-ul :last-child {
  margin-right: 0;
}

.team-section-li {
  margin: 0 30px 0 0;
  background-color: var(--main-light); 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section-card-img {
  width: 270px;
}

.team-section-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding: 30px 0;
}

.team-section-name {
  font-weight: 500;
  margin-bottom: 10px;    
}

.team-section-position {
  color: var(--text-sub); 
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-link {
  display: flex;
  padding: 0;
}

.social-link :not(:first-child) {
  margin-left: 10px;
}

.social-link-li {
  color: var(--icon); 
  transition: color var(--time-duration) var(--timing-function);
}

.social-link-li :visited {
  color: var(--icon); 
} 

.social-link-li :hover, 
.social-link-li :focus {
  border-radius: 50%;
  fill: var(--main-light);
  background-color: var(--text-accent);
  outline: none;
  transition: background-color var(--time-duration) var(--timing-function), fill var(--time-duration) var(--timing-function);
}

.social-link-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: currentColor;
  color: currentColor;
  /* background-color: green; */
  border-radius: 50%;
  transition: background-color var(--time-duration) var(--timing-function), fill var(--time-duration) var(--timing-function);
}

.social-link-a :hover, 
.social-link-a :focus {
  border-radius: 0;
  background-color: rgb(33,150,243,0.0);
  transition: background-color var(--time-duration) var(--timing-function), fill var(--time-duration) var(--timing-function);
}

.social-link-icon {
  border-color: none;
}

.clients-section {
  padding: 94px 0;
}

.clients-ul {
  display: flex;
}

.clients-ul :not(:first-child) {
  margin-left: 30px;
}

.clients-ul :hover {
  fill: var(--text-accent);
  border-color: var(--text-accent); 
  transition: border-color var(--time-duration) var(--timing-function), fill var(--time-duration) var(--timing-function);
}

.clients-ul :focus  {
  fill: var(--text-accent);
  border-color: var(--text-accent); 
  outline: none;
  transition: border-color var(--time-duration) var(--timing-function), fill var(--time-duration) var(--timing-function);
}

.clients-li {
  color: var(--icon);
  fill: var(--icon);
}

.clients-a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  fill: currentColor;
  color: currentColor;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--time-duration) var(--timing-function), fill var(--time-duration) var(--timing-function);
}

.clients-a :visited {
  fill: currentColor; 
  color: currentColor;
}

/*********** MODAL WINDOW ***********/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 1;
  transition: opacity var(--time-duration) var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;  
  transition: opacity var(--time-duration) var(--timing-function), visibility var(--time-duration) var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform var(--time-duration) var(--timing-function); 
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: var(--main-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /* padding: 40px; */
  overflow-y: auto;
  transition: transform var(--time-duration) var(--timing-function);
}


.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  outline: none;
}

.modal-close-div :hover, .modal-close-div :focus {
  fill: var(--text-accent);
  cursor: pointer;
}

.signup-form-ul :hover, .signup-form-ul :focus {
  cursor: pointer;
  border-color: var(--text-accent);
  outline: none;
}

.signup-div :hover, .signup-div :focus {
  cursor: pointer;
  border-color: var(--text-accent);
  outline: none;
}

.signup-div :hover > .signup-icon {
  fill: var(--text-accent);
}

.signup-div:focus > .signup-icon {
  fill: var(--text-accent);
}

/* .signup-icon :hover  {
  fill: var(--text-accent);
  background-color: var(--text-accent);
  color: var(--text-accent);
} */

/* .modal-close-button :hover, .modal-close-button :focus {
  fill: var(--text-accent);
  border-color: var(--text-accent);
} */

.signup-form {
  
  /* text-align: center; */
  width: 448px;
  margin: 40px auto;
}

.signup-form-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.signup-div {
  /* display: flex;
  flex-direction: column; */
  /* text-align: left; */
  margin-bottom: 10px;
  width: 100%;
}

.signup-div.comment-div {
  margin-bottom: 20px;
}

.signup-div.agreement-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; 
}

.signup-input-agreement {
  width: 16px;
  height: 15px;
  margin-right: 7px;
}

.signup-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-sub);
}

.signup-label.agreement-label {
  margin-bottom: 0; 
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.agreement-link {
  color: var(--text-accent);
  text-decoration: underline;
}

.signup-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
}

.signup-input.comment-input {
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.signup-input-div {
  position: relative;
}

.signup-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: var(--text-main-dark);
}

.signup-div-button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.signup-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--main-light);
  background: var(--signup-form-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--text-accent);
  margin: 0;
  padding: 0;
}
























/**********  PORTFOLIO  *************/

.project-section {
  padding: 94px 0;
}

.project-filter-ul {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 0 50px 0;
}

.project-filter-ul :not(:last-child){
  margin-right: 8px;
}

.project-filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center; 
  letter-spacing: 0.03em;
  background-color: var(--background-light);
  padding: 6px 22px;  
  border: 1px solid var(--background-light);
  border-radius: 4px;
  transition: color var(--time-duration) var(--timing-function), background-color var(--time-duration) var(--timing-function), border var(--time-duration) var(--timing-function);
}

.project-filter-button:focus {
  color: var(--main-light);
  background-color: var(--text-accent);
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--text-accent);
  transition: color var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function), background-color var(--time-duration) var(--timing-function), border var(--time-duration) var(--timing-function);
}

.project-filter-button:hover {
  color: var(--main-light);
  background-color: var(--text-accent);
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--text-accent);
  transition: color var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function), background-color var(--time-duration) var(--timing-function), border var(--time-duration) var(--timing-function);
}

.project-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-right: calc(-1 * var(--card-set-gap));
}

.project-ul-li {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-right: var(--card-set-gap);
  border: 1px solid var(--project-border);
}

.project-ul :hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  /* transition: box-shadow var(--time-duration) var(--timing-function); */
}

.project-ul :focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  /* transition: box-shadow var(--time-duration) var(--timing-function); */
}

.project-ul-li :hover {
  box-shadow: none;
}

.project-ul-li :focus {
  border: none; 
  outline: none;
}

.project-card {
  display: block;
  color: currentColor;
}

.project-card-img {
  position: relative;
  overflow: hidden;
}

.project-card-describe-hover {
  position: absolute;
  padding: 63px 24px;
  /* overflow: auto; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-light);
  outline: none;
  border: none;
  opacity: 0;
  transform: translatey(100%);
  transition: transform var(--time-duration) var(--timing-function), opacity var(--time-duration) var(--timing-function);
}

.project-ul-li :hover .project-card-describe-hover, .project-ul-li :focus .project-card-describe-hover {
  opacity: 1;
  transform: translatey(0);
  transition: transform var(--time-duration) var(--timing-function), opacity var(--time-duration) var(--timing-function);
}

.project-content {
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px; 
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-sub);
}